@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Color Code                   */
    --Primary-color: #004AAD;
    --rgba-prim-color: #004bad63;
    --Secondary-color: #FF3131;
    --site-bg:#FFFAF0;
    --formal-color: #fff;
    --Primary-font: #555;
    --Sec-font: #777;
    --shadow2: rgba(0, 0, 0, 0.70) 0px 5px 15px;
	--shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* Font Size                     */
    --Xsmall: 12px;
    --small: 20px;
    --bigger: 48px;

    /* Font width                    */
    --fwt2: 200;
    --fwt3: 300;
    --fwt4: 400;
    --fwt5: 500;
    --fwt6: 600;
    --fwt7: 700;
    --fwt8: 800;
    --fwt9: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.4s;
}

html{scroll-behavior: smooth;} 
body{background-color: var(--site-bg); width: 100%; min-height: 100vh; }
.main-contant{width: 100%; max-width: 1400px; min-height: 100vh; margin:  0px auto;}

/* PRIMARY BUTTON                                                                 */
button{
    padding: 10px 18px;
    background-color: var(--Primary-color);
    color: var(--site-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
} button:hover{background-color: #FF3131; transform: scale(1.1);}

/* HEADER SECTION CSS                                                             */
.header{position: relative; width: 100%; min-height: 100vh;}
.header .main-navbar{
    position: absolute; 
    width: 100%; 
    max-width: 1400px;
    height: 12vh;
    max-height: 80px;
    border-bottom: 1px solid var(--Primary-font);
    padding: 0px 5%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.main-navbar .logo img{width: 50%; margin-top: 1rem;}
.main-navbar .logo img:hover{transform: scale(1.1);}
.main-navbar .nav-list{list-style: none;}
.main-navbar .nav-list li{display: inline-block; margin: 0px 10px;}
.main-navbar .nav-list li a{ position: relative; color: var(--Primary-font); letter-spacing: 1px;}
.main-navbar .nav-list li a:hover{color: var(--Secondary-color);}
.main-navbar .menu-btn{
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    display: none;
}
.main-navbar .menu-btn span{
    position: relative;
    display: block;
    width: 100%; height: 2px;
    background-color: var(--Primary-font);
    border-radius: 5px;
}
.main-navbar .menu-btn span::before,
.main-navbar .menu-btn span::after{
    position: absolute;
    content: '';
    top: 0; left: 0;
    width: 80%; height: 100%;
    background-color: var(--Sec-font);
}
.main-navbar .menu-btn span::before{transform: translateY(-9px);}
.main-navbar .menu-btn span::after{transform: translateY(9px);}
/*--------------------------------------------------------------------------------*/

/* HOME SECTION CSS                                                               */
.banner{
    width: 100%; min-height: 100vh;
    padding: 100px 8% 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .banner .banner-desc{position: relative; flex-basis: 50%; max-width: 700px; z-index: 2;}
.banner .banner-desc h2{
	font-size: 48px;
	color: var(--Primary-font);
	letter-spacing: 1px;
	line-height: 1.4;
	margin-bottom: 10px;
}
.banner .banner-desc p{color: var(--Primary-font); line-height: 1.4; margin-bottom: 50px;}
.banner .banner-desc .search-bar{
	position: relative;
	width: 400px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.banner-desc .search-bar input{
	width: 100%;
	height: 100%;
	padding: 0px 60px 0px 10px;
	font-size: 17px;
	letter-spacing: 1px;
	background-color: var(--site-bg);
	color: var(--Sec-font);
	border: 1px solid var(--Sec-font);
	border-radius: 5px;
	outline-color: var(--Primary-color);
}
.banner-desc .search-bar i{
	position: absolute;
	height: 100%;
	width: 50px;
	background-color: var(--Primary-color);
	right: 0;
	color: var(--site-bg);
	border-radius: 0px 5px 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.home .banner .banner-img{
	position: relative;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}
.banner-img .banner-img-container{position: relative; width: 400px; z-index: 2;}
.banner-img .banner-img-container img{width: 100%; height: auto; filter: drop-shadow(var(--shadow2));}
.banner-img .banner-img-container .states{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.banner-img-container .states .total-courses{
	position: absolute;
	padding: 6px 10px 6px 6px;
	background-color: var(--site-bg);
	border-radius: 5px;
	bottom: 15%;
	left: -80px;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow);
}
.states .total-courses .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.states .total-courses .icon i{color: var(--site-bg); font-size: var(--small);}
.states .total-courses .desc{display: flex; flex-direction: column;}
.states .total-courses .desc span:nth-child(1){
    color: var(--Primary-font);
    font-size: var(--small);
    font-weight: var(--fwt5);
    letter-spacing: 1px;
    margin-bottom: 2px;
}
.states .total-courses .desc span:nth-child(2){color: var(--Primary-font); font-size: var(--Xmall); font-weight: var(--fwt3);}
.banner-img-container .states .courses-ratings{
	position: absolute;
	width: 90px;
	height: 90px;
	padding: 10px;
	border-radius: 50%;
	background-color: var(--site-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 80px;
	right: 5px;
	box-shadow: var(--shadow);
}
.states .courses-ratings span:nth-child(1){color: var(--Primary-font); font-size: 24px; font-weight: 600; text-align: center;}
.states .courses-ratings span:nth-child(1) i{color: goldenrod; font-size: var(--Xsmall);}
.states .courses-ratings span:nth-child(2){color: var(--Primary-font); font-size: var(--Xsmall); text-align: center;}

/*--------------------------------------------------------------------------------*/

section.partners{width: 100%; padding: 30px 8%;}
.partners h3{margin-bottom: 40px; color: var(--Primary-font); font-size: 40px; text-align: center;}
.partners .partners-slider .brand-item{text-align: center; padding: 2px;}
.partners .partners-slider .brand-item img{width: 100px; display: inline-block;}
.owl-carousel .owl-nav{position: absolute; right: 0; top: -80px;}
.owl-carousel .owl-nav button{border-radius: 5px !important;}
.owl-carousel .owl-nav .owl-prev i,
.owl-carousel .owl-nav .owl-next i{
	padding: 8px 14px !important;
	border-radius: 5px;
	font-size: 16px !important;
	background-color: var(--Primary-color) !important;
	color: var(--site-bg);
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev i:hover,
.owl-carousel .owl-nav .owl-next i:hover{background-color: var(--Secondary-color) !important; border: none;}
.owl-carousel .owl-dots{margin-top: 20px;}
.owl-carousel .owl-dots .owl-dot span{padding: 4px !important;}
.owl-carousel .owl-dots .owl-dot.active span{background-color: var(--Primary-color) !important;}

section.services{width: 100%; padding: 100px 8% 20px;}
.section-header h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--Primary-font);
	margin-bottom: 20px;
    text-align: center;
}
.section-header p{color: var(--Primary-font); margin-bottom: 40px;}
.services .services-contents{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.services-contents .service-box{
	flex-basis: calc(calc(100% / 3) - 2%);
	padding: 25px 20px;
	cursor: pointer;
	transition: all 0.3s;
    border: 1px solid var(--Sec-font);
}
.services-contents .service-box:hover{box-shadow: var(--shadow);}
.service-box .service-icon{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--Primary-color);
	outline: 1px solid var(--Primary-color);
	outline-offset: 10px;
    
}
.service-box .service-icon i{font-size: var(--small); color: var(--Primary-font); text-align: center;}
.service-box .service-desc{margin-top: 25px;}
.service-box .service-desc h2{margin-bottom: 10px; color: var(--Primary-font); font-size: 22px;}
.service-box .service-desc p{line-height: 1.4; color: var(--Sec-font);}
.service-box:nth-child(1) .service-icon{background-color: #fef0ef; outline-color: #fef0ef;}
.service-box:nth-child(1) .service-icon i{color: #f76250;}
.service-box:nth-child(2) .service-icon{background-color: #e8f9ef; outline-color: #e8f9ef;}
.service-box:nth-child(2) .service-icon i{color: #2f9355;}
.service-box:nth-child(3) .service-icon{background-color: #f1f0fe; outline-color: #f1f0fe;}
.service-box:nth-child(3) .service-icon i{color: #5a49f3;}

/* 
SECTION COURSES
*/
section.courses{width: 100%; padding: 100px 8% 20px;}
.courses .section-header{position: relative; justify-content: space-between; text-align: center;}
.courses .course-contents{display: flex; justify-content: space-between; flex-wrap: wrap;}
.courses .course-contents .course-card{
	flex-basis: calc(calc(100% / 3) - 1.2%);
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.courses .course-contents .course-card:hover{box-shadow: var(--shadow);}
.course-contents .course-card img{width: 100%; height: 250px; object-fit: cover; border-radius: 5px;}
.course-contents .course-card .category{position: relative; display: flex; justify-content: space-between; padding: 10px 0px;}
.course-card .category img{
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	right: 15px;
	top: -50%;
	filter: drop-shadow(var(--shadow2));

}
.course-card .category .subject{padding: 8px 10px; border-radius: 5px; background-color: var(--Primary-color);}
.course-card .category .subject h3{font-size: var(--small); font-weight: 500; color: var(--site-bg);}
.course-card .course-title{font-size: var(--Xsmall); color: var(--Primary-font); font-weight: var(--fwt6);}
.course-card .course-title span{font-size: var(--Xsmall); color: var(--sec-font); font-weight: var(--fwt3);}
.course-card .course-desc{margin: 20px 0px; display: flex; justify-content: space-between;}
.course-card .course-desc span{font-size: var(--Xsmall); font-weight: var(--fwt3); color: var(--Sec-font);}
.course-card .course-desc span i{color: var(--rgba-prim-color);}
.course-card .course-ratings{padding: 15px 0px 0px; display: flex; justify-content: space-between; border-top: 1px solid var(--Sec-font);}
.course-card .course-ratings span{color: var(--Primary-font); font-size: 17px; font-weight: var(--fwt6);}
.course-card .course-ratings span:nth-child(1) i{color: goldenrod; font-size: 14px;}
.course-card .course-ratings span b{font-size: var(--small);}
.courses a {color: var(--rgba-prim-color); font-size: var(--Xmall); font-weight: var(--fwt3);margin-top: 10px;} 
.courses a:hover{color: var(--Primary-color); font-size: var(--small);}


section.categories{width: 100%; padding: 100px 8% 20px;}
.categories .categories-contents{display: flex; justify-content: space-between; flex-wrap: wrap;}
.categories-contents .category-item{
	flex-basis: calc(calc(100% / 4) - 1%);
	background-color: var(--site-bg);
	box-shadow: var(--shadow);
	padding: 25px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}
.categories-contents .category-item:hover{background-color: var(--rgba-prim-color); transform: translateY(-3px);}
.category-item .category-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Primary-color);
}
.category-item .category-icon i{color: var(--site-bg); font-size: 20px;}
.category-item .category-desc{margin-top: 20px; text-align: center;}
.category-item .category-desc h3{color: var(--Primary-color); font-size: 20px; margin-bottom: 10px;}
.category-item .category-desc p{color: var(--Primary-font); font-size: var(--Xsmall); line-height: 1.4;}

section.instructor{width: 100%; padding: 100px 8% 20px;}
.instructor .instructor-container{width: 100%; padding: 70px 8%; text-align: center;}
.instructor-container h2{font-size: var(--small); color: var(--Primary-font);}
.instructor-container p{ margin: 20px 0px 35px; color: var(--Sec-font);}


section.testimonials{width: 100%; padding: 100px 8%;}
.testimonials .section-header{width: 70%; max-width: 700px;}
.testimonials-slider .testimonials-item{position: relative; padding: 20px 25px; background-color: var(--Primary-color);}
.testimonials-item .profile{display: flex; align-items: center;}
.testimonials-item .profile .profile-image{width: 55px; height: 55px; border-radius: 50%; overflow: hidden; margin-right: 15px;}
.testimonials-item .profile .profile-image img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
.testimonials-item .profile .profile-desc{display: flex; flex-direction: column;}
.profile .profile-desc span:nth-child(1){font-size: var(--small); font-weight: bold; color: var(--site-bg);}
.profile .profile-desc span:nth-child(2){font-size: 15px; color: var(--site-bg);}
.testimonials-item  p{margin: 15px 0px; font-size: 14px; line-height: 1.5; color: var(--site-bg);}
.testimonials-item .quote{text-align: center; color: var(--site-bg)}
.testimonials-item .quote i{font-size: 25px; color: var(--site-bg); margin-right: 20px;}
.testimonials-item .ratings{margin-top: 20px;}
.testimonials-item .ratings i{font-size: 17px; color: goldenrod; cursor: pointer;}

section.footer{width: 100%; padding: 70px 8% 30px; background-color:var(--Primary-color);}
.footer .footer-contents{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 50px;}
.footer-col-1 .col-contents p{color: var(--site-bg); line-height: 1.3; margin-top: 2rem; font-size: var(--Xsmall); font-weight: var(--fwt3);}
.footer-contents .footer-col{flex-basis: calc(calc(100% / 4) - 20px);}
.footer-contents .footer-col .col-title{min-height: 60px; display: flex; align-items: flex-end; margin-bottom: 30px;}
.footer-col .col-title h3{font-size: var(--small); color: var(--site-bg);}
.footer-col .col-contents{display: flex; flex-direction: column;}
.footer-col-2 .col-contents .contact-row{margin-bottom: 15px; display: flex; flex-direction: column;}
.footer-col-2 .col-contents .contact-row span{color: var(--site-bg); font-size: var(--Xsmall);}
.footer-col-2 .col-contents .contact-row span:nth-child(1){color: var(--site-bg); font-size: 17px; font-weight: 500; margin-bottom: 2px;}
.footer-col-3 .col-contents a{text-decoration: none; color: var(--site-bg); margin-bottom: 20px; align-self: flex-start; transition: all 0.3s;}
.footer-col-3 .col-contents a:hover{letter-spacing: 2px;}
.footer-col-4 .col-contents input{
	width: 100%;
	padding: 15px;
	background-color: var(--formal-color);
	color: var(--Sec-font);
	border: none;
	border: var(--site-bg);
}
.footer-col-4 .col-contents .newsletter-btn{border: 1px solid var(--site-bg); background: var(--Primary-color); color: var(--site-bg); margin-top: 20px;}
.footer-col-4 .col-contents .newsletter-btn:hover{background-color: var(--Secondary-color); border: none;}
.footer .copy-rights{padding: 30px 0px 0px; border-top: 1px solid var(--Primary-font); text-align: center; border-top: 1px solid var(--Sec-font);}
.footer .copy-rights p{font-size: var(--Xsmall); color: var(--site-bg);}

















































/* MEDIA SCREEN SECTION                                                           */

@media(max-width: 968px){
    .main-navbar .menu-btn{display: flex; margin-left: 40px; z-index: 101;}

    .main-navbar .menu-btn.active span,
    .main-navbar .menu-btn.active span::before,
    .main-navbar .menu-btn.active span::after{
        width: 100%;
    }
    .main-navbar .menu-btn.active span:before{
        transform: rotate(45deg) translateY(0px);
    }
    .main-navbar .menu-btn.active span:after{
        transform: rotate(-45deg) translateY(0px);
    }
    .main-navbar .menu-btn.active span{background-color: transparent;}

    .main-navbar .nav-list{
        position: fixed;
        width: 100%; height: 100vh;
        top: 0; right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
        transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
        z-index: 100;
    }
    .main-navbar .nav-list.active{right: 0;}
    .main-navbar .nav-list li{margin: 25px 0px 0px;}
    .main-navbar .nav-list li:nth-child(1){margin-top: 180px;}
    .main-navbar .nav-list li a{font-size: 20px; letter-spacing: 1px;}
    .main-navbar .btn-start-container{margin-left: auto;}
    /* HOME SECTION STYLE................................................. */
    .banner{flex-direction: column-reverse; justify-items: flex-start; align-items: flex-start;}
    .banner .banner-desc, .banner .banner-img{flex-basis: 100%}
    .banner .banner-img{align-items: center; margin-bottom: 50px;}
    /*---------------------------------------------------------------------*/
	/* SERVICE SECTION STYLE.............................................. */
    .services-contents .service-box{flex-basis: calc(calc(100% / 2) - 2%);}
	.services-contents .service-box:not(:last-child){margin-bottom: 20px;}
    /*---------------------------------------------------------------------*/
	/* COURSE SECTION STYLE............................................... */
    .courses .course-contents .course-card{flex-basis: calc(calc(100% / 2) - 1.2%);}
	.courses .section-header{flex-direction: column;}
    /*---------------------------------------------------------------------*/
	/* CATEGORY SECTION STYLE............................................. */
    .categories-contents .category-item{flex-basis: calc(calc(100% / 2) - 1%); margin-bottom: 15px;}
    /*---------------------------------------------------------------------*/
	/* FOOTER   SECTION STYLE............................................. */
    .footer-contents .footer-col{flex-basis: calc(calc(100% / 2) - 20px);}
    /*---------------------------------------------------------------------*/
}
/*--------------------------------*/
@media(max-width: 768px){
    .banner-img-container .states .total-courses{left: 5px; bottom: 10%;}
    .banner .banner-desc h2{font-size: 42px;}
	.banner .banner-desc .search-bar{width: 350px;}
}
@media(max-width: 668px){
	.main-navbar .get-started-btn{display:none;}
    .partners h3{margin-right: 150px;}
	.services-contents .service-box{flex-basis: 100%;}
	.courses .course-contents .course-card{flex-basis: 100%;}
}
@media(max-width: 568px){
	.categories-contents .category-item{flex-basis: 100%;}
	.footer-contents .footer-col{flex-basis: 100%;}
}
@media(max-width: 468px){
    .banner-img .banner-img-container{width: 100%;}
    .banner-img-container .states .courses-ratings{top: 30px; right: -10px;}
    .banner .banner-desc h2{font-size: 32px;}
    .main-navbar .get-started-btn{display:none;}
    .partners h3{margin-right: 0px; margin-bottom: 80px;}
	.banner .banner-desc .search-bar{width: 300px;}
}
/*--------------------------------------------------------------------------*/

